.frame-36 {
    padding: 0px 60px 0px 60px;
    display: flex;
    flex-direction: row;
    row-gap: 40px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-11 {
    border-radius: 100px;
    padding: 50px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    min-width: 374px;
    position: relative;
}
.encuentra-los-accesorios-ideales-para-ti-al-mejor-precio {
    text-align: left;
    font-family: "Roboto-SemiBold", sans-serif;
    font-size: 46.90653991699219px;
    font-weight: 600;
    position: relative;
    align-self: stretch;
}
.encuentra-los-accesorios-ideales-para-ti-al-mejor-precio-span {
    color: #ffffff;
    font-family: "Roboto-SemiBold", sans-serif;
    font-size: 46.90653991699219px;
    font-weight: 600;
}
.encuentra-los-accesorios-ideales-para-ti-al-mejor-precio-span2 {
    color: #ff335f;
    font-family: "Roboto-SemiBold", sans-serif;
    font-size: 46.90653991699219px;
    font-weight: 600;
}
.explora-nuestra-selecci-n-de-veh-culos-nuevos-y-usados-con-especificaciones-detalladas-fotos-en-alta-calidad-y-opciones-de-financiamiento {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 23.453269958496094px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
}
.frame-12 {
    background: #2c2c2c;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    min-width: 600px;
    min-height: 593px;
    position: relative;
}
.image {
    border-radius: 16.61px;
    align-self: stretch;
    flex-shrink: 0;
    height: 553px;
    position: relative;
    object-fit: cover;
}
.frame-14 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-37 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.encuentra-el-accesorio-ideal {
    color: #ff335f;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 64px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame-38 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.variedad-calidad-y-confiabilidad-en-cada-marca-que-ofrecemos {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.frame-23 {
    padding: 0px 60px 0px 60px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    row-gap: 51px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
}
.frame-44 {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    height: 374px;
    min-width: 412.9px;
    max-width: 926px;
    position: relative;
}
.frame-16 {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.image2 {
    border-radius: 16.61px;
    align-self: stretch;
    flex-shrink: 0;
    height: 257.99px;
    position: relative;
    object-fit: cover;
}
.categoria-parqueo {
    padding: 0px 59px 0px 59px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}
.frame-45 {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    min-width: 438.1px;
    max-width: 926px;
    position: relative;
}
.frame-20 {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.categoria-externos {
    padding: 0px 59px 0px 59px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
}
.frame-46 {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    min-width: 444px;
    max-width: 926px;
    position: relative;
}
.frame-21 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.image3 {
    border-radius: 16.61px;
    align-self: stretch;
    flex-shrink: 0;
    height: 258px;
    position: relative;
    object-fit: cover;
}
.categoria-internos {
    padding: 0px 59px 0px 59px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
}
.frame-47 {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    min-width: 412.9px;
    max-width: 926px;
    position: relative;
}
.audi {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.categoria-luces-led {
    padding: 0px 59px 0px 59px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
}
.frame-48 {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    height: 374px;
    min-width: 437.79px;
    max-width: 926px;
    position: relative;
}
.jeep {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.categoria-modulo-elevavidrios {
    padding: 0px 59px 0px 59px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame-49 {
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    height: 374px;
    min-width: 444px;
    max-width: 926px;
    position: relative;
}
.frame-22 {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.categoria-audio {
    padding: 0px 59px 0px 59px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 47px;
    position: relative;
}
.boton-categoria {
    background: rgba(255, 255, 255, 0.66);
    border-radius: 17px;
    border-style: solid;
    border-color: #2c2c2c;
    border-width: 2px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
}
.texto-boton {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 23.453269958496094px;
    font-weight: 400;
    position: relative;
}
.boton-categoria:hover {
    background: rgba(200, 200, 200, 0.8);
}
.boton-categoria:hover .texto-boton {
    color: #ff335f;
}