/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

.main-frame,
.main-frame * {
  box-sizing: border-box;
}
.main-frame {
  background: #191919;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100vh; /* Asegura que el contenedor tenga al menos el tamaño de la ventana */
  position: relative;
}
.head {
  display: flex;
  flex-direction: row;
  gap: 82px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 1115px;
  height: 100px; /* Altura fija para el encabezado */
  position: relative;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  max-width: 250px;
  min-width: 250px;
  min-height: 145px;
  position: relative;
}
.logo-accesorios-light-1 {
  align-self: stretch;
  flex-shrink: 0;
  height: 70px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 304/91.34;
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex: 0.8;
  position: relative;
}
.boton-head {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: left;
  align-self: stretch;
  flex: 5;
  position: relative;
}
.body {
  transition: height 0.5s ease;
  min-height: calc(100vh - 100px); /* Asegura que el cuerpo tenga al menos el tamaño de la ventana menos la altura del encabezado */
  padding-top: 100px; /* Espacio para el encabezado */
}
.footer {
  background: #2c2c2c;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 1115px;
  position: relative;
  margin-top: auto; /* Asegura que el pie de página esté al final del contenido */
}
.frame-27 {
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 114.69px;
  position: relative;
}
.frame-25 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-39 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-40 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-41 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-42 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-43 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.frame-26 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-13 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  position: relative;
}
.logo-accesorios-light-2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 84.13px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 280/84.13;
}
.footer a {
  color: white; /* Hace que los enlaces sean blancos */
  text-decoration: none; /* Elimina el subrayado */
}

.footer a:visited {
  color: white; /* Evita que cambien a morado cuando se visitan */
}

.footer a:hover {
  color: #ff335f; /* Opcional: Cambia a un gris claro cuando pasas el mouse */
}

.footer a:active {
  color: white; /* Evita que se vean diferentes al hacer clic */
}
.footer p {
  color: white; /* Hace que los textos sean blancos */
}
.nav-link {
  color: #ffffff; /* Color del texto */
  text-align: center;
  font-family: "Poppins-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 50px; /* Bordes redondeados */
  background-color: transparent; /* Fondo transparente por defecto */
  transition: all 0.3s ease; /* Transición suave */
}

/* Cambio de color cuando el mouse pasa sobre el botón */
.nav-link:hover {
  color: #ff335f; /* Color del texto al pasar el mouse */
}

/* Efecto cuando se presiona el botón */
.nav-link:active {
  background-color: rgba(255, 255, 255, 0.4); /* Fondo con opacidad */
}